{{ define "footer" }}
        <footer class="mt-auto text-white-50">
            <p><ya-tr-span style="visibility: inherit !important;">Этот сайт сделал </ya-tr-span><a
                    href="https://vk.com/a13handro" class="text-white"><ya-tr-span
                        style="visibility: inherit !important;">Алехандро</ya-tr-span></a>
            </p>
        </footer>
    </div>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        class="astro-vvvwv3sm"></script>
</body>

</html>
{{ end }}
