{{ define "index" }}
{{ template "header" }}
<main class="px-3">
    <h1><ya-tr-span style="visibility: inherit !important;">Закройте страницу.</ya-tr-span></h1>
    <p class="lead"><ya-tr-span style="visibility: inherit !important;">Cover — это одностраничный
            шаблон для создания простых и красивых домашних страниц. </ya-tr-span><ya-tr-span
            style="visibility: inherit !important;">Загрузите, отредактируйте
            текст и добавьте собственное полноэкранное фоновое изображение, чтобы сделать шаблон
            уникальным.
            {{ range . }}
            <div class="alert alert-danger">
                <h2>{{.Title}}</h2>
                <p>{{.Anons}}</p>
            </div>
            {{else}}
            <p class="lead">Статей нет!</p>
            {{end}}
        </ya-tr-span></p>
    <p class="lead"> <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white"><ya-tr-span
                style="visibility: inherit !important;">Подробнее</ya-tr-span></a>
    </p>

</main>
{{ template "footer" }}
{{ end }}